fastapi
uvicorn 
openai
langchain
langsmith
langchain_community
langchain_openai
langchain-ollama
langchain_text_splitters
langchain_chroma
langchain_core
langchain-anthropic
langgraph
rpds-py
python-docx
SQLAlchemy>=2.0,<3
psycopg[binary]>=3.2,<4
